@font-face
{
       font-family: 'Helvetica77-bold';
           src:  URL('OratorStd-Slanted.eot') format('embedded-opentype');
       src: URL('OratorStd-Slanted.otf'), URL('OratorStd-Slanted.ttf');
}



