<%
   style_str = ""
   style_str = style if(defined? style)
%>


  <!-- <img src="/assets/setwet_logo.png" id="page_1_img_4" /> -->
  <div id="page_1_link" style="<%= style_str %>">
    <table style="width:160px;">
      <tr>
	<td style="width:160px;">
	  <% if @waxes.present? %>
	  <a href="/waxes" id="link_selected">WAXES</a>
	  <% else %>
	  <a href="/waxes">WAXES</a>
	  <% end %>
	</td>
      </tr>
      <tr>
	<td style="width:160px;">
	  <% if @gels.present? %>
	  <a href="/gels" id="link_selected">GELS</a>
	  <% else %>
	  <a href="/gels" >GELS</a>
	  <% end %>  
	</td>
      </tr>
      <tr>
	<td style="width:160px;">
	  <% if @deos.present? %>
	  <a href="/deos" id="link_selected">DEOS</a>
	  <% else %>
	  <a href="/deos" >DEOS</a>
	  <% end %>  
	</td>
      </tr>
      <tr>
	<td style="width:160px;">
	  <% if @style_meter.present? %>
	  <a href="/style_meter" id="link_selected">PRODUCT&nbsp;GUIDE</a>
	  <% else %>
	  <a href="/product_guide" >PRODUCT&nbsp;GUIDE</a>
	  <% end %>  
	</td>
      </tr>
      <tr>
	<td style="width:160px;">
	  <% if @styling_video.present? %>
	  <a href="/howto" id="link_selected">STYLING&nbsp;GUIDE</a>
	  <% else %>
	  <a href="/howto" >STYLING&nbsp;GUIDE</a>
	  <% end %>  
	</td>
      </tr>
      <tr>
	<td style="width:160px;">
	  <% if @shop.present? %>
	  <a href="/shop" id="link_selected">SHOP</a>
	  <% else %>
	  <a href="/shop" >SHOP</a>
	  <% end %>  
	</td>
      </tr>
      <tr>
	<td style="width:160px;">
	  <% if @faqs.present? %>
	  <a href="/faqs" id="link_selected">FAQS</a>    
	  <% else %>
	  <a href="/faqs" >FAQS</a>  
	  <% end %>  
	</td>
      </tr>
    </table>
  </div>
  
