<html>
<div style="width:1024px;height:768px;background:url(/assets/deo_bg_current.jpg) no-repeat;">
	<div id="deo_main_div" style="display: block;">
	<div style='position:absolute;left:634px;top:397px;z-index:13'>			<a id="" class="" style="" href="">Set Wet <br>Macho</a>	
    </div>
    <div style='position:absolute;left:487px;top:555px;z-index:15'>			<a id="" class="" style="" href="">Set Wet <br>Casanova</a>	
    </div>
    <div style='position:absolute;left:634px;top:555px;z-index:16'>			<a id="" class="" style="" href="">Set Wet <br>Adventurer</a>	
	</div>
	
	<div style='position:absolute;left:421.99998474121094px;top:440px;z-index:2'>			<img id="deo_red" src="/assets/red.png" onclick="" class="" title="" style="height:11px;width:142px;" alt="Image Alt value"/>	
    </div>
    <div style='position:absolute;left:572px;top:440px;z-index:7'>			<img id="deo_yellow" src="/assets/yellow.png" onclick="" class="" title="" style="height:11px;width:142px;" alt="Image Alt value"/>	
    </div>
    <div style='position:absolute;left:722px;top:440px;z-index:5'>			<img id="deo_green" src="/assets/green.png" onclick="" class="" title="" style="height:11px;width:142px;" alt="Image Alt value"/>	
    </div>
    <div style='position:absolute;left:872px;top:305px;z-index:4'>			<a id="setwet_home" class="" style="" href="/"> <img id="deo_setwet" src="/assets/setwet_logo.png" onclick="" class="" title="" style="width:143px;height:151px;" alt="Image Alt value"/> </a>	
    </div>
    <div style='position:absolute;left:425px;top:293px;z-index:11'>			<a id="img_cool" class="" style="" href=""> <img id="deo_cool" src="/assets/cool.png" onclick="" class="" title="" style="width:82px;height:157px;" alt="Image Alt value"/></a>	
    </div>
    <div style='position:absolute;left:424px;top:463px;z-index:6'>			<a id="img_casanova" class="" style="" href=""> <img id="deo_casanova" src="/assets/casanova.png" onclick="" class="" title="" style="width:82px;height:157px;" alt="Image Alt value"/></a>	
    </div>
    <div style='position:absolute;left:572px;top:293px;z-index:6'>			<a id="img_macho" class="" style="" href=""> <img id="deo_macho" src="/assets/macho.png" onclick="" class="" title="" style="width:82px;height:157px;" alt="Image Alt value"/></a>	
    </div>
    <div style='position:absolute;left:572px;top:463px;z-index:6'>			<a id="img_adventurer" class="" style="" href=""> <img id="deo_adventurer" src="/assets/adventurer.png" onclick="" class="" title="" style="height:157px;width:82px;" alt="Image Alt value"/></a>	
    </div>
    <div style='position:absolute;left:723px;top:293px;z-index:4'>			<a id="img_sexy" class="" style="" href=""> <img id="deo_sexy" src="/assets/sexy.png" onclick="" class="" title="" style="width:82px;height:157px;" alt="Image Alt value"/></a>	
    </div>
    <div style='position:absolute;left:724px;top:463px;z-index:6'>			<a id="img_romeo" class="" style="" href=""><img id="deo_romeo" src="/assets/romeo.png" onclick="" class="" title="" style="height:157px;width:82px;" alt="Image Alt value"/></a>	
    </div>
    
    <div style='position:absolute;left:487px;top:397px;z-index:12'>			<a id="" class="" style="" href="">Set Wet <br>Cool</a>
	</div>
    <div style='position:absolute;left:784px;top:397px;z-index:14'>			<a id="" class="" style="" href="">Set Wet <br>Sexy</a>
	</div>
    <div style='position:absolute;left:784px;top:555px;z-index:17'>			<a id="" class="" style="" href="">Set Wet <br>Romeo</a>	
	</div>
    
    </div>
    
    <div style='position:absolute;left:542px;top:704px;z-index:18'><a id="" class="" style="color:#1b9ad3;font-size:12px;" href="">DISCOVER THE NEW CALL OF THE COOL <br>WATCH THE SETWET NEW COOL COMMERCIAL HERE</a></div>
    <div style="position:absolute;left:899px;top:677px;z-index:">
    <img alt="Image Alt value" style="" title="" class="" onclick="" src="http://img.youtube.com/vi/TRSJOV-mjw0/default.jpg" id="deo_video">
    </div>

    <div id="links">
        <%= render "links" %>
    </div> 
</div> 	
<html>

