<html>
<head>
<style type='text/css'>
#thevideo { 
  position: absolute; 
  left: 75px;
  top: 105px;
}


#myCarousel {
  /*margin-top: 40px;*/
  position: absolute;
  width: 535px;
  height: 257px;
  left: 335px;
  top: 212px;
}

.carousel-linked-nav,
.item img {
  display: block; 
  margin: 0 auto;
}

.carousel-linked-nav {
  width: 80px;
  margin-bottom: 20px;   
}



</style>
<script type='text/javascript'>
// invoke the carousel
function start_carousel(id){
if(/cool/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 1 + ')').addClass('active');}
if(/advent/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 2 + ')').addClass('active');}
if(/casanova/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 3 + ')').addClass('active');}
if(/macho/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 4 + ')').addClass('active');}
if(/sexy/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 5 + ')').addClass('active');}
if(/romeo/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 6 + ')').addClass('active');}	
//document.getElementById("deo_bg").style.background= "url(/assets/deo_bg_2.jpg) no-repeat;";
document.getElementById("deo_bg").style.display = "none";
document.getElementById("deo_bg2").style.display = "block";
document.getElementById("myCarousel").style.display = "block";
document.getElementById("deo_text").style.display = "none";
document.getElementById("deo_main_div").style.display = "none";
document.getElementById("youtube_video").style.display = "none";
$('#myCarousel').carousel({
  interval: 3000
});
$('#myCarousel').carousel('cycle');
};

function start_video(){
document.getElementById("deo_bg").style.display = "none";
document.getElementById("deo_bg2").style.display = "block";
document.getElementById("deo_main_div").style.display = "none";
document.getElementById("deo_text").style.display = "none";
document.getElementById("youtube_video").style.display = "none";
$("#btn_cross").css("display","block");
$("#thevideo").css("display","block");
}

function hide_video(state){
 var div = document.getElementById("thevideo");
    var iframe = div.getElementsByTagName("iframe")[0].contentWindow;
    div.style.display = state == 'hide' ? 'none' : '';
    func = state == 'hide' ? 'pauseVideo' : 'playVideo';
    iframe.postMessage('{"event":"command","func":"' + func + '","args":""}', '*');
    $("#btn_cross").css("display","none");
document.getElementById("deo_main_div").style.display = "";
document.getElementById("deo_text").style.display = "";
document.getElementById("youtube_video").style.display = "";
document.getElementById("deo_bg").style.display = "";
document.getElementById("deo_bg2").style.display = "none";
}

</script>

</head>
  <body>
<div id="deo_bg"style="display:block;width:1024px;height:768px;background:url(/assets/deo_bg_current.jpg) no-repeat;">
</div>
<div id="deo_bg2"style="display:none;width:1024px;height:768px;background:url(/assets/deo_bg_2.jpg) no-repeat;">
</div>
	<div id="deo_main_div" style="display: block;">
	<div style='position:absolute;left:634px;top:397px;z-index:13'>			<a id="deo_macho" class="" style="" href="javascript:void(0)" onclick="start_carousel(this.id)">Set Wet <br>Macho</a>	
    </div>
    <div style='position:absolute;left:487px;top:555px;z-index:15'>			<a id="deo_casanova" class="" style="" href="javascript:void(0)" onclick="start_carousel(this.id)">Set Wet <br>Casanova</a>	
    </div>
    <div style='position:absolute;left:634px;top:555px;z-index:16'>			<a id="deo_advent" class="" style="" href="javascript:void(0)" onclick="start_carousel(this.id)">Set Wet <br>Adventurer</a>	
	</div>
	
	<div style='position:absolute;left:421.99998474121094px;top:440px;z-index:2'>			<img id="deo_red" src="/assets/red.png" onclick="" class="" title="" style="height:11px;width:142px;" alt="Image Alt value"/>	
    </div>
    <div style='position:absolute;left:572px;top:440px;z-index:7'>			<img id="deo_yellow" src="/assets/yellow.png" onclick="" class="" title="" style="height:11px;width:142px;" alt="Image Alt value"/>	
    </div>
    <div style='position:absolute;left:722px;top:440px;z-index:5'>			<img id="deo_green" src="/assets/green.png" onclick="" class="" title="" style="height:11px;width:142px;" alt="Image Alt value"/>	
    </div>
    <div style='position:absolute;left:872px;top:307px;z-index:4'>			<a id="setwet_home" class="" style="" href="/"> <img id="deo_setwet" src="/assets/setwet_logo.png" onclick="" class="" title="" style="width:143px;height:151px;" alt="Image Alt value"/> </a>	
    </div>
    <div style='position:absolute;left:425px;top:293px;z-index:11'>			<a id="img_cool" class="" style="" href="javascript:void(0)" onclick="start_carousel(this.id)" > <img id="deo_cool" src="/assets/cool.png" class="" title="" style="width:82px;height:157px;" alt="Image Alt value"/></a>	
    </div>
    <div style='position:absolute;left:424px;top:463px;z-index:6'>			<a id="img_casanova" class="" style="" href="javascript:void(0)" onclick="start_carousel(this.id)"> <img id="deo_casanova" src="/assets/casanova.png" onclick="" class="" title="" style="width:82px;height:157px;" alt="Image Alt value"/></a>	
    </div>
    <div style='position:absolute;left:572px;top:293px;z-index:6'>			<a id="img_macho" class="" style="" href="javascript:void(0)" onclick="start_carousel(this.id)"> <img id="deo_macho" src="/assets/macho.png" onclick="" class="" title="" style="width:82px;height:157px;" alt="Image Alt value"/></a>	
    </div>
    <div style='position:absolute;left:572px;top:463px;z-index:6'>			<a id="img_adventurer" class="" style="" href="javascript:void(0)" onclick="start_carousel(this.id)"> <img id="deo_adventurer" src="/assets/adventurer.png" onclick="" class="" title="" style="height:157px;width:82px;" alt="Image Alt value"/></a>	
    </div>
    <div style='position:absolute;left:723px;top:293px;z-index:4'>			<a id="img_sexy" class="" style="" href="javascript:void(0)" onclick="start_carousel(this.id)"> <img id="deo_sexy" src="/assets/sexy.png" onclick="" class="" title="" style="width:82px;height:157px;" alt="Image Alt value"/></a>	
    </div>
    <div style='position:absolute;left:724px;top:463px;z-index:6'>			<a id="img_romeo" class="" style="" href="javascript:void(0)" onclick="start_carousel(this.id)"><img id="deo_romeo" src="/assets/romeo.png" onclick="" class="" title="" style="height:157px;width:82px;" alt="Image Alt value"/></a>	
    </div>
    
    <div style='position:absolute;left:487px;top:397px;z-index:12'>			<a id="deo_cool" class="" style="" href="javascript:void(0)" onclick="start_carousel(this.id)">Set Wet <br>Cool</a>
	</div>
    <div style='position:absolute;left:784px;top:397px;z-index:14'>			<a id="deo_sexy" class="" style="" href="javascript:void(0)" onclick="start_carousel(this.id)">Set Wet <br>Sexy</a>
	</div>
    <div style='position:absolute;left:784px;top:555px;z-index:17'>			<a id="deo_romeo" class="" style="" href="javascript:void(0)" onclick="start_carousel(this.id)">Set Wet <br>Romeo</a>	
	</div>
    
    </div>
    
    <div id="deo_text" style='position:absolute;left:542px;top:704px;z-index:18'><a id="" class="" style="color:#1b9ad3;font-size:12px;" href="">DISCOVER THE NEW CALL OF THE COOL <br>WATCH THE SETWET NEW COOL COMMERCIAL HERE</a></div>
    <div id="youtube_video" style="position:absolute;left:899px;top:677px;z-index:10">
    <a  class="" style="" href="javascript:void(0)" onclick="start_video()"><img alt="Image Alt value" style="" title="" class="" onclick="" src="http://img.youtube.com/vi/TRSJOV-mjw0/default.jpg" id="deo_video" /> </a>
    </div>
    
    
    <div id="myCarousel" class="carousel slide" style="display: none">
  	<!-- Carousel items -->
  	<div class="carousel-inner">
  		<div class="active item">
        <img id="1" src="/assets/item_cool.png" />
    	</div>
    	<div class="item">
        <img id="2" src="/assets/item_advent.png" />
    	</div>
    	<div class="item">
        <img id="3" src="/assets/item_casanova.png" />
    	</div>    	
    	<div class="item">
        <img id="4" src="/assets/item_macho.png" />
    	</div>
    	<div class="item">
        <img id="5" src="/assets/item_sexy.png" />
    	</div>
    	<div class="item">
        <img id="6" src="/assets/item_romeo.png" />
    	</div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div id="btn_cross" style="position:absolute;left:854px;top: 86px;z-index:500; display:none">
      <img onclick="hide_video('hide');" style="height:36px;width:37px;cursor:pointer;" src="/assets/cross-button.png" />                  
</div>
<div id="thevideo" class="video_container" style="display:none">
<iframe width="793" height="579" src="http://www.youtube.com/v/XSGBVzeBUbk?hl=en_US&;version=3&autoplay=1"></iframe>
</div>    
 

    <div id="links">
        <%= render "links" %>
    </div> 

    <%= render "layouts/footer.html.erb" %>
</div> 	


</div> 
	
</body>
<script>
	
$(function(){
jQuery('iframe').each(function () {
    var url = jQuery(this).attr("src").replace(new RegExp("/v/", "i"), '/embed/');
    if (jQuery(this).attr("src").indexOf("?") > 0) {
        jQuery(this).attr("src", url + "&amp;wmode=opaque");
    }
});
});
</script>

>>>>>>> 9497a845be4f843806784b46d4f96890b6f13bba
<html>

