<html>
<head>
<style type='text/css'>


#myCarousel {
  /*margin-top: 40px;*/
  position: absolute;
  width: 535px;
  height: 257px;
  left: 335px;
  top: 212px;
}

.carousel-linked-nav,
.item img {
  display: block; 
  margin: 0 auto;
}

.carousel-linked-nav {
  width: 80px;
  margin-bottom: 20px;   
}



</style>
</head>
	   
<body>    
<div >
	<div style="width:1024px;height:780px;background:url(/assets/setwet_gel_range_bg.jpg) no-repeat;"><div style='position:absolute;left:421px;top:435px;z-index:'>			<img id="" src="/assets/red_band.png" onclick="" class="" title="Image title" style="" alt="Image Alt value"/>	
      
      
    <div class="setwet_logo">
	  <%#= image_submit_tag("setwet_logo.png", :class => "setwet_logo_position") %>
  	</div>
      
      </div><a href="#"><div id="green_gel_pop" style='position:absolute;left:753px;top:313px;z-index:'>			<img id="img_vhold" src="/assets/green_gel.png" href="javascript:void(0)" onclick="start_carousel(this.id)" class="" title="" style="" alt="Image Alt value"/>	
      </a>
      
      
      </div><div style='position:absolute;left:573px;top:435px;z-index:'>			<img id="" src="/assets/yellow_band.png" onclick="" class="" title="" style="" alt="Image Alt value"/>	
      
      
      
      </div><div style='position:absolute;left:721px;top:435px;z-index:'>			<img id="" src="/assets/green_band.png" onclick="" class="" title="" style="" alt="Image Alt value"/>	
      
      
      
      </div><div style='position:absolute;left:452px;top:458px;z-index:'><a id="gel_coolhead" class="" style="" href="javascript:void(0)" onclick="start_carousel(this.id)">SET WET <br/> COOL HEAD</div>		
      
      	
      </div><div style='position:absolute;left:745px;top:458px;z-index:9'><a id="gel_vhold" class="" style="" href="javascript:void(0)" onclick="start_carousel(this.id)">SET WET <br/> VERTICAL HOLD</a>		
      
      	
      </div><div style='position:absolute;left:609.9999847412109px;top:458px;z-index:auto'><a id="gel_swlook" class="" style="" href="javascript:void(0)" onclick="start_carousel(this.id)">SET WET <br/> WET LOOK</a>		
      
      	
      </div><a href="#"><div id="blue_gel_pop" style='position:absolute;left:451px;top:312px;z-index:'>			<img id="img_coolhead" src="/assets/blue_gel.png" href="javascript:void(0)" onclick="start_carousel(this.id)" class="" title="Image title" style="" alt="Image Alt value"/></a>	
      
      
      
      </div><a href="#"><div id="brown_gel_pop" style='position:absolute;left:603px;top:313px;z-index:'>			<img id="img_swlook" src="/assets/brown_gel.png" href="javascript:void(0)" onclick="start_carousel(this.id)" class="" title="Image title" style="" alt="Image Alt value"/>	
      </a>
      
    

    </div>
  </div>
  <div id="links">
    <%= render "links" %>
  </div> 
  

  <img src="/assets/setwet_logo.png" id="page_1_img_4_gel" />
  
  <div id="myCarousel" class="carousel slide" style="display: none">
  	<!-- Carousel items -->
  	<div class="carousel-inner">
  		<div class="active item">
        <img id="1" src="/assets/screen15_blue.png" />
    	</div>
    	<div class="item">
        <img id="2" src="/assets/screen15_green.png" />
    	</div>
    	<div class="item">
        <img id="3" src="/assets/screen15_yellow.png" />
    	</div>    	
    	
  	</div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</body>
 <script>
 function start_carousel(id){
if(/coolhead/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 1 + ')').addClass('active');}
if(/vhold/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 2 + ')').addClass('active');}
if(/swlook/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 3 + ')').addClass('active');}
document.getElementById("myCarousel").style.display = "block";
/*document.getElementById("deo_bg").style.display = "none";
document.getElementById("deo_bg2").style.display = "block";
document.getElementById("myCarousel").style.display = "block";
document.getElementById("deo_text").style.display = "none";
document.getElementById("deo_main_div").style.display = "none";
document.getElementById("youtube_video").style.display = "none";*/
$('#myCarousel').carousel({
  interval: 3000
});
$('#myCarousel').carousel('cycle');
};
 </script>
 
</html>

<div id="green_popup" style='position:absolute;left:720px;top:441px;z-index:auto'>      <img id="" src="/assets/screen13_green.png" onclick="" class="" title="Image title" style="" alt="Image Alt value"/>
      </div>
<div id="red_popup" style='position:absolute;left:421px;top:441px;z-index:auto'>      <img id="" src="/assets/screen13_red.png" onclick="" class="" title="Image title" style="" alt="Image Alt value"/></div> 
<div id="yellow_popup" style='position:absolute;left:573px;top:441px;z-index:auto'>      <img id="" src="/assets/screen13_yellow.png" onclick="" class="" title="Image title" style="" alt="Image Alt value"/></div>

<script>
       $(document).ready(function () {
          $('#red_popup').hide();
          $('#green_popup').hide();
          $('#yellow_popup').hide();
          $('#blue_popup').hide();
          
          $('#green_gel_pop').hover(function(){
             $('#green_popup').show();
             
             },
             function(){
               $('#green_popup').hide(); 
             }  
          );    

          $('#brown_gel_pop').hover(function(){
             $('#yellow_popup').show();
             
             },
             function(){
               $('#yellow_popup').hide(); 
             }  
          );      

          $('#blue_gel_pop').hover(function(){
             $('#red_popup').show();
             
             },
             function(){
               $('#red_popup').hide(); 
             }  
          );            
          


       });
</script>
