
  <div class="back_ground_waxes">
        
    <div class="wax_link_styling" style='position:absolute;left:365px;top:540px;z-index:auto;font-size:16px'>      
      SO, GO ON,GET VERY VERY SEXY.&nbsp;<%= link_to "CLICK HERE", "/howto" , html_options = {:class => "wax_link_styling"} %>
    </div>
    <div id="links">
    	<%= render "links" %>
  	</div> 
    <%= render "layouts/footer" %>
  <div>	
    
    <a href="/"> 
      <div class="setwet_logo">
	<input type="image" src="/assets/setwet_logo.png" class="setwet_logo_position">
      </div>
    </a>


   <div  style="position:absolute;left:420px;width:647px;top:620px;z-index:10;font-style: italic;font-size:16px;font-family:setwet;font-weight:bold;">
    <a href="/download_ringtone" style="text-decoration:none;">
      DOWNLOAD THE "BURI NAZAR WALE" RINGTONE HERE
      <img src="/assets/ringtone.png" style="width:30px;margin-left:55px;" /> 
    </a>
  </div>




