
  <div class="back_ground_waxes">
    
   <a href="/"> 
  	<div class="setwet_logo">
      <%= image_submit_tag("setwet_logo.png", :class => "setwet_logo_position") %>
  	</div>
   </a>
  	
    
    <div style='position:absolute;left:365px;top:538px;z-index:auto;font-size:16px'>      
      <%= link_to "SO, GO ON,GET VERY VERY SEXY.", "#", html_options = {:class => "wax_link_styling"} %>
      </div>
    <div id="links">
    	<%= render "links" %>
  	</div> 
    <%= render "layouts/footer.html.erb" %>
  <div>	

