<div id="page_1_slide_1">
  <img src="/assets/2.png" id="page_1_img_1" style="display:none;" />
  <a href="/"><img src="/assets/setwet_logo.png" id="page_1_img_2" style="display:none;" /></a>
</div>
<div id="page_1_slide_2">
  <img src="/assets/22.png" id="page_1_img_3"  />
  
  <%= render "layouts/footer.html.erb" %>
  <a href="/"><img src="/assets/setwet_logo.png" id="page_1_img_4" /></a>
</div>

<script type="text/javascript">
  setTimeout(function() {
    $('#page_1_img_1').slideDown();
    $('#page_1_img_2').slideDown();
  }, 3000); 
  setTimeout(function() {
    window.scrollTo(0,780)
  }, 5000); 

  setTimeout(function() {
  location.href = "/home";
  }, 7000);
</script>


