<div style="width:1024px;height:780px;background:url(/assets/buy_now.jpg) no-repeat;">
    <div style='position:absolute;left:872px;top:295px;z-index:4'>			
      <a id="setwet_home" class="" style="" href="/"> 
	<img id="deo_setwet" src="/assets/setwet_logo.png" alt="setwet logo"/>
      </a>	
    </div>


  <a href="#">
    <div id="buy_gel_gray" style='position:absolute;left:431px;top:265px;z-index:12'>     
      <img  id="img_buy_gel" src="/assets/gels_buy_grey.png" style="width:92px;height:24px;" /> 
    </div>
  </a>
 
  <a href="#">
    <div id="buy_deos_gray" style='position:absolute;left:529px;top:266px;z-index:12'>
      <img  id="img_buy_deo" src="/assets/buy_deo_gray.png" style="width:92px;height:24px;"/>	         
    </div>
  </a>
  
  <a href="#">
    <div id="buy_wax_gray" style='position:absolute;left:334.99998474121094px;top:266px;z-index:12'>
      <img id="img_buy_wax" src="/assets/buy_wax_gray.png" style="width:92px;height:24px;" />  
    </div>
  </a>  
    


  <div id="blank_buy" style='position:absolute;left:335px;top:266px;z-index:4'>	
    <img id="buy_product" src="/assets/blank_buy_layout.png"/>	            
  </div>
  



  <div id="buy_nav_waxes">
    <a target="_blank" href="http://www.flipkart.com/set-wet-style-free-styler-matt-wax-hair/p/itmdg3cuunsvuud6?pid=HSYDGYWEYH7GZRHR&ref=98082bc2-8222-4afd-a5e9-137e7de490a0&srno=t_1&otracker=from-search&query=set%20wet%20matt">
      <div id="flipkart_1" style='position:absolute;left:359px;top:468px;z-index:11'  >
	<img id="" src="/assets/flipkart.png"/>
      </div>
    </a>

    <a target="_blank"  href="http://purplle.com/brand/set-wet/men-hair-styling?utm_source=setwetstyling.com&utm_medium=referral&utm_campaign=setwetbrandpage&publisher_id=580">
      <div id="purple_1" style='position:absolute;left:473px;top:468px;z-index:11'>
	<img id="" src="/assets/purple.png" />	                   
      </div>
    </a>
    
    <a target="_blank" href="http://purplle.com/brand/set-wet/men-hair-styling?utm_source=setwetstyling.com&utm_medium=referral&utm_campaign=setwetbrandpage&publisher_id=580">
      <div id="purple_2" style='position:absolute;left:745px;top:470px;z-index:11'>
	<img id="" src="/assets/purple.png" />                    
      </div>
    </a>

    <a target="_blank" href="http://www.flipkart.com/set-wet-style-amoeba-fibre-gum-hair-styler/p/itmdg3cupd7fhdfk?pid=HSYDGYWEXPJSHBFV&_l=y09Ky%203HdX3074JTcu3Q2A--&_r=Qs7TgdywluiVvd4DEmeLoA--&ref=b45c8998-5f7b-4f42-a5ef-9335d1465a44&otracker=start&autosuggest=&selmitem=All%20Categories&query=HSYDGYWEXPJSHBFV">
      <div id="flipkart_2" style='position:absolute;left:627px;top:470px;z-index:11' >
	<img id="" src="/assets/flipkart.png" /> 	                  
      </div>
    </a>
        
    <a href="#" onclick="show_next_wax();">
      <div style='position:absolute;left:865px;top:484px;z-index:auto'>
	<img id="right_nav" src="/assets/right.png" />	      
      </div>
    </a>
  </div>


  <div id="buy_nav_waxes2" style="display:none;">
    <a target="_blank" href="http://www.flipkart.com/set-wet-style-after-hours-glaze-wax-hair-styler/p/itmdg3cujxs5rg72?pid=HSYDGYWEFZDMSCDJ&ref=926f59cc-d7da-4a83-824e-9e20ddf0a9ef&srno=t_1&otracker=from-search&query=Glaze%20Wax">
      <div id="flipkart_1"  style='position:absolute;left:359px;top:468px;z-index:11'>
	<img id="" src="/assets/flipkart.png"/>	
      </div>
    </a>
    
    <a target="_blank" href="http://purplle.com/brand/set-wet/men-hair-styling?utm_source=setwetstyling.com&utm_medium=referral&utm_campaign=setwetbrandpage&publisher_id=580">
      <div id="purple_1" style='position:absolute;left:473px;top:468px;z-index:11'>
	<img id="" src="/assets/purple.png" />                  
      </div>
    </a>
    
    <a target="_blank" href="http://purplle.com/brand/set-wet/men-hair-styling?utm_source=setwetstyling.com&utm_medium=referral&utm_campaign=setwetbrandpage&publisher_id=580">
      <div id="purple_2" style='position:absolute;left:745px;top:470px;z-index:11' >
	<img id="" src="/assets/purple.png" />                    
      </div>
    </a>

    <a target="_blank" href="http://www.flipkart.com/set-wet-style-shock-wave-styling-clay-hair-styler/p/itmdg3cuyh9pzzwa?pid=HSYDGYWENRVKTZXY&ref=a4bdd865-2122-4e7c-8a5b-687581e85a96&srno=t_1&otracker=from-search&query=set%20wet%20clay">
      <div id="flipkart_2" style='position:absolute;left:627px;top:470px;z-index:11'>
	<img id="" src="/assets/flipkart.png" /> 	                  
      </div>
    </a>
    
    <a href="#" onclick="show_prev_wax();">
      <div style='position:absolute;left:305px;top:484px;z-index:auto'>
	<img id="left_nav" src="/assets/left.png" />	                  
      </div>
    </a>
  </div>




  <div id="buy_nav_gels">
  	
  	<!--
	  <a target="_blank" href="#">
			<div id="flipkart_5" style='position:absolute;left: 339px; top: 482px;z-index:11'>
		  <img id="" src="/assets/flipkart.png" class="deosImg" /> 	                  
			</div>
		  </a>
			-->
	  
    <a target="_blank" href="http://purplle.com/brand/set-wet/men-hair-gel?utm_source=setwetstyling.com&utm_medium=referral&utm_content=hair%2Bgel&utm_campaign=setwetbrandpage&publisher_id=580">
      <div id="purple_5" style='position:absolute;left:361px;top:470px;z-index:11'>
	<img id="" src="/assets/purple.png" /> 
      </div>
    </a>
    
 <!--
    <a target="_blank" href="#">
       <div id="flipkart_5" style='position:absolute;left: 513px; top: 482px;z-index:11'>
     <img id="" src="/assets/flipkart.png" class="deosImg" /> 	                  
       </div>
     </a>
 -->
     
    <a target="_blank" href="http://purplle.com/brand/set-wet/men-hair-gel?utm_source=setwetstyling.com&utm_medium=referral&utm_content=hair%2Bgel&utm_campaign=setwetbrandpage&publisher_id=580">
      <div id="purple_6" style='position:absolute;left:529px;top:470px;z-index:11'>
	<img id="" src="/assets/purple.png" /> 
      </div>
    </a>
    
    
<!--
    <a target="_blank" href="#">
      <div id="flipkart_5" style='position:absolute;left: 691px; top: 482px;z-index:11'>
	<img id="" src="/assets/flipkart.png" class="deosImg" /> 	                  
      </div>
    </a>
 -->
   
    <a target="_blank" href="http://purplle.com/brand/set-wet/men-hair-gel?utm_source=setwetstyling.com&utm_medium=referral&utm_content=hair%2Bgel&utm_campaign=setwetbrandpage&publisher_id=580">
      <div id="purple_7" style='position:absolute;left:695px;top:470px;z-index:11'>  
	<img id="" src="/assets/purple.png" /> 
      </div>
    </a>    
  </div>




  <div id="buy_nav_deos">
  	
<!--
  	<a target="_blank" href="http://www.flipkart.com/combo-2-set-wet-cool-deo-spray-150-ml/p/itmdaffkm2tqvqqp?pid=BUNDGEG8PPJQYGWE&ref=e751ad55-3bae-41a1-bcc2-b2655db2b926&srno=t_1&otracker=from-search&query=set%20wet%20deo">
      <div id="flipkart_6" style='position:absolute;left: 341px; top: 482px;z-index:11'>
	<img id="" src="/assets/flipkart.png" class="deosImg" /> 	                  
      </div>
    </a>
  	
 -->
 	
    <a target="_blank" href="http://purplle.com/brand/set-wet/fragrance-deodorant-deodorant-men?utm_source=setwetstyling.com&utm_medium=referral&utm_content=deodorant&utm_campaign=setwetbrandpage&publisher_id=580">
      <div id="purple_6" style='position:absolute;left:353px;top:482px;z-index:11'>
	<img id="" src="/assets/purple.png" class="deosImg" />   
      </div>
    </a>
	
<!--
	<a target="_blank" href="http://www.flipkart.com/combo-2-set-wet-sexy-deo-spray-150-ml/p/itmdaffkgacfx3e3?pid=BUNDHDVYN87UYBQE&ref=fbfdaa43-02d8-44f1-b99f-d464ea4d0a69&srno=t_4&otracker=from-search&query=set%20wet%20deo">
      <div id="flipkart_7" style='position:absolute;left: 515px; top: 482px;z-index:11'>
	<img id="" src="/assets/flipkart.png" class="deosImg" /> 	                  
      </div>
    </a>
    
   -->
   	
	
	    
    <a target="_blank" href="http://purplle.com/brand/set-wet/fragrance-deodorant-deodorant-men?utm_source=setwetstyling.com&utm_medium=referral&utm_content=deodorant&utm_campaign=setwetbrandpage&publisher_id=580">
      <div id="purple_7" style='position:absolute;left:513px;top:482px;z-index:11'>
	<img id="" src="/assets/purple.png" class="deosImg" />   
      </div>
    </a>
    
 <!--
    
     <a target="_blank" href="http://www.flipkart.com/combo-2-set-wet-macho-deo-spray-150-ml/p/itmdaffkk6qfktnu?pid=BUNDGEGADTPEUYFY&ref=fbfdaa43-02d8-44f1-b99f-d464ea4d0a69&srno=t_7&otracker=from-search&query=set%20wet%20deo">
       <div id="flipkart_8" style='position:absolute;left: 691px; top: 482px;z-index:11'>
     <img id="" src="/assets/flipkart.png" class="deosImg" /> 	                  
       </div>
     </a>
       -->
 

    
    <a target="_blank" href="http://purplle.com/brand/set-wet/fragrance-deodorant-deodorant-men?utm_source=setwetstyling.com&utm_medium=referral&utm_content=deodorant&utm_campaign=setwetbrandpage&publisher_id=580">
      <div id="purple_8" style='position:absolute;left:693px;top:482px;z-index:11'>
	<img id="" src="/assets/purple.png" class="deosImg" />   
      </div>
    </a>    

    <a href="#" onclick="show_next_deo();">
      <div style='position:absolute;left:878px;top:484px;z-index:auto'>
	<img id="left_nav" src="/assets/right.png"  />	                  
      </div>
    </a>

  </div>


  <div id="buy_nav_deos2" style="display:none">
  	
  	
  	<!--
	  <a target="_blank" href="http://www.flipkart.com/combo-2-set-wet-romeo-deo-spray-150-ml/p/itmdaffkyuxnd6mp?pid=BUNDG23HVJGZ62MZ&ref=fbfdaa43-02d8-44f1-b99f-d464ea4d0a69&srno=t_5&otracker=from-search&query=set%20wet%20deo">
			<div id="flipkart_6" style='position:absolute;left: 337px; top: 482px;z-index:11'>
		  <img id="" src="/assets/flipkart.png" class="deosImg" /> 	                  
			</div>
		  </a>
			-->
	  
  	
  	
  	
    <a target="_blank" href="http://purplle.com/brand/set-wet/fragrance-deodorant-deodorant-men?utm_source=setwetstyling.com&utm_medium=referral&utm_content=deodorant&utm_campaign=setwetbrandpage&publisher_id=580">
      <div id="purple_6" style='position:absolute;left:344px;top:482px;z-index:11'>
	<img id="" src="/assets/purple.png" class="deosImg" />   
      </div>
    </a>
    
    
    
   <!--
    <a target="_blank" href="">
         <div id="flipkart_7" style='position:absolute;left: 516px; top: 482px;z-index:11'>
       <img id="" src="/assets/flipkart.png" class="deosImg" /> 	                  
         </div>
       </a>
       -->
   
    
    <a target="_blank" href="http://purplle.com/brand/set-wet/fragrance-deodorant-deodorant-men?utm_source=setwetstyling.com&utm_medium=referral&utm_content=deodorant&utm_campaign=setwetbrandpage&publisher_id=580">
      <div id="purple_7" style='position:absolute;left:514px;top:482px;z-index:11'>
	<img id="" src="/assets/purple.png" class="deosImg"/>   
      </div>
    </a>
    
    
   <!--
    <a target="_blank" href="">
         <div id="flipkart_7" style='position:absolute;left: 693px; top: 482px;z-index:11'>
       <img id="" src="/assets/flipkart.png" class="deosImg" /> 	                  
         </div>
       </a>
       -->
   
    
    <a target="_blank" href="http://purplle.com/brand/set-wet/fragrance-deodorant-deodorant-men?utm_source=setwetstyling.com&utm_medium=referral&utm_content=deodorant&utm_campaign=setwetbrandpage&publisher_id=580">
      <div id="purple_8" style='position:absolute;left:700px;top:482px;z-index:11'>
	<img id="" src="/assets/purple.png" class="deosImg"/>   
      </div>
    </a>    

    <a href="#" onclick="show_prev_deo();">
      <div style='position:absolute;left:305px;top:484px;z-index:auto'>
	<img id="left_nav" src="/assets/left.png" />	                  	
      </div>
    </a>
  </div>
</div>



    <script>
    $(document).ready(function () {
          $("#img_buy_wax").attr('src',"/assets/buy_now_wax.png");
          $("#buy_product").attr('src',"/assets/buy_wax_slide_1.png");
          $("#buy_nav_gels").hide();
          $("#buy_nav_deos").hide();
          $("#buy_nav_deos2").hide();
       });
    
    

   $('#buy_gel_gray').click(function(){   
     $("#img_buy_wax").attr('src',"/assets/buy_wax_gray.png");
     $("#img_buy_deo").attr('src',"/assets/buy_deo_gray.png");
     $("#img_buy_gel").attr('src',"/assets/buy_gel.png");
     $("#buy_product").attr('src',"/assets/buy_gel_slide.png");
     $("#buy_nav_waxes").hide();
     $("#buy_nav_waxes2").hide();
     $("#buy_nav_gels").show();
     $("#buy_nav_deos").hide();
     $("#buy_nav_deos2").hide();
     return false;
   });


   $('#buy_deos_gray').click(function(){
     $("#img_buy_gel").attr('src',"/assets/gels_buy_grey.png");
     $("#img_buy_wax").attr('src',"/assets/buy_wax_gray.png");
     $("#img_buy_deo").attr('src',"/assets/deos_buy.png");
     $("#buy_product").attr('src',"/assets/deos_buy_slide_1.png");
     $("#buy_nav_waxes").hide();
     $("#buy_nav_waxes2").hide();
     $("#buy_nav_gels").hide();
     $("#buy_nav_deos").show();
     $("#buy_nav_deos2").hide();
     return false;
   });

   $('#buy_wax_gray').click(function(){
     $("#buy_nav_waxes").show();
     $("#buy_nav_waxes2").hide();
     $("#img_buy_gel").attr('src',"/assets/gels_buy_grey.png");
     $("#img_buy_deo").attr('src',"/assets/buy_deo_gray.png");
     $("#img_buy_wax").attr('src',"/assets/buy_now_wax.png");
     $("#buy_product").attr('src',"/assets/buy_wax_slide_1.png");
     $("#buy_nav_gels").hide();
     $("#buy_nav_deos").hide();
     $("#buy_nav_deos2").hide();
     return false;
   });


    function show_next_wax() {
      $("#buy_product").attr('src',"/assets/buy_wax_slide_2.png");
      $("#buy_nav_waxes").hide();
      $("#buy_nav_waxes2").show();    
    }

    function show_prev_wax() {
      $("#buy_product").attr('src',"/assets/buy_wax_slide_1.png");
      $("#buy_nav_waxes").show();
      $("#buy_nav_waxes2").hide();    
    }

    function show_next_deo() {
      $("#buy_product").attr('src',"/assets/deos_buy_slide_2.png");
      $("#buy_nav_deos").hide();
      $("#buy_nav_deos2").show();    
    }

    function show_prev_deo() {
      $("#buy_product").attr('src',"/assets/deos_buy_slide_1.png");
      $("#buy_nav_deos").show();
      $("#buy_nav_deos2").hide();    
    }
    
    
   
    </script>

	<style>
		/*
		.deosImg{
					width: 78px;
				}*/
		
	</style>


    <%= render "links" %>
    <%= render "layouts/footer.html.erb" %>
