
    <style>
      #main_div{
      background: url(https://s3.amazonaws.com/lmw-setwetstyling/images/home-bg.jpg) no-repeat;
      height: 700px;
      }
      
      #sitemap{
      margin: 100px 0px 0px 646px;
      height: 515px;
      background: grey;
      width: 424px;
      }
      .sitemapLinks{
      color: white;
      text-decoration: none;
      margin-left: 5px;
      }
      
      .sitemapSubLink{
      color: white;
      text-decoration: none;
      margin-left: 30px
      }
      
      .linkBackground{
      width: 316px;
      background: black;
      border-bottom: 6px solid grey;
      }
      
    </style>


    
    <div id="main_div">
        <div id="content-container" style="overflow: auto;">
	      <div id="sitemap">
		<div style="font-size: 24px; margin-left: 54px; height: 39px;">
		  Sitemap
		  </div>
		<div style="color: white; margin-left: 56px;">
		  <div class="linkBackground">
		    <a href="" class="sitemapLinks">Home</a><br/>
		    </div>
		  <div class="linkBackground">
		    <a href="" class="sitemapLinks">Waxes</a>
		    </div>
		  <div class="linkBackground" >
		    <a href="" class="sitemapSubLink">AAAAAAAAAAA</a>
		    </div>
		  <div class="linkBackground" >
		    <a href="" class="sitemapSubLink">BBBBBBB</a>
		    </div>
		  <div class="linkBackground">
		    <a href="" class="sitemapSubLink">BBBBBBB</a>
		    </div>
		  
		  
		  
		  <div class="linkBackground">
		    <a href="" class="sitemapLinks">Styling</a>
		    </div>
		  <div class="linkBackground">
		    <a href="" class="sitemapSubLink">AAAAAAAAAAA</a>
		    </div>
		  <div class="linkBackground" >
		    <a href="" class="sitemapSubLink">BBBBBBB</a>
		    </div>
		  <div class="linkBackground" >
		    <a href="" class="sitemapSubLink">BBBBBBB</a>
		    </div>
		  <div class="linkBackground" >
		    <a href="" class="sitemapSubLink">BBBBBBB</a>
		    </div>
		  
		  
		  <div class="linkBackground">
		    <a href="" class="sitemapLinks">Products</a>
		    </div>
		  <div class="linkBackground" >
		    <a href="" class="sitemapSubLink">AAAAAAAAAAA</a>
		    </div>
		  <div class="linkBackground" >
		    <a href="" class="sitemapSubLink">BBBBBBB</a>
		    </div>
		  <div class="linkBackground" >
		    <a href="" class="sitemapSubLink">BBBBBBB</a>
		    </div>
		  
		  
		  <div class="linkBackground">
		    <a href="" class="sitemapLinks">Shop</a>
		    </div>
		  <div class="linkBackground">
		    <a href="" class="sitemapSubLink">AAAAAAAAAAA</a>
		    </div>
		  
		  
		  <div class="linkBackground">
		    <a href="" class="sitemapLinks">FAQs</a>
		    </div>
		  <div class="linkBackground">
		    <a href="" class="sitemapSubLink">faq</a>
		    </div>
		  
		  
		  </div>
		    </div> <!-- /container -->
	          </div>

	</div>
