
    <style>
      #main_div{
      background: url(https://s3.amazonaws.com/lmw-setwetstyling/images/home-bg.jpg) no-repeat;
      height: 700px;
      }
      
      #sitemap1{
      margin: 100px 0px 0px 519px;
      height: 515px;
      background: grey;
      width: 424px;
      }
      .sitemapLinks{
      color: white;
      text-decoration: none;
      margin-left: 5px;
      }
      
      .sitemapSubLink{
      color: white;
      text-decoration: none;
      margin-left: 30px
      }
      
      .linkBackground{
      width: 316px;
      background: black;
      border-bottom: 6px solid grey;
      }
      
    </style>


    
    <div id="main_div">
        <div id="content-container" style="overflow: auto;">
	      <div id="sitemap1">
		<div style="font-size: 24px; margin-left: 54px; height: 39px;">
		  Sitemap
		  </div>
		<div style="color: white; margin-left: 56px;">
		  <div class="linkBackground">
		    <a href="/" class="sitemapLinks">Home</a><br/>
		    </div>
		  <div class="linkBackground">
		    <a href="/waxes" class="sitemapLinks">Waxes</a>
		    </div>
		  
		  
		  
		  
		  <div class="linkBackground">
		    <a href="/styles" class="sitemapLinks">Styling</a>
		    </div>
		  <div class="linkBackground">
		    <a href="/style/casual" class="sitemapSubLink">Casual</a>
		    </div>
		  <div class="linkBackground" >
		    <a href="/style/suave" class="sitemapSubLink">Suave</a>
		    </div>
		  <div class="linkBackground" >
		    <a href="/style/wild" class="sitemapSubLink">Wild</a>
		    </div>
		  <div class="linkBackground" >
		    <a href="/style/wild" class="sitemapSubLink">Office</a>
		    </div>
		  
		  <div class="linkBackground">
		    <a href="/deos" class="sitemapLinks">Deos</a>
		    </div>
		  <div class="linkBackground">
		    <a href="/gels" class="sitemapLinks">Gels</a>
		    </div>
		  
		  
		  
		  <div class="linkBackground">
		    <a href="/shop" class="sitemapLinks">Shop</a>
		    </div>
		 
		  
		  <div class="linkBackground">
		    <a href="faqs" class="sitemapLinks">FAQs</a>
		    </div>
		  
		  
		  
		  </div>
		    </div> <!-- /container -->
	          </div>

	</div>
<%= render "layouts/footer.html.erb" %>