<div style="background:url(/assets/style_bg.jpg) no-repeat;width:1024px;height:780px;">  
  <a href="/style/suave">
    <div style="position:absolute;left:278px;top:437px;">
      <img src="/assets/st1.png" id="">    
    </div>
  </a>
  <a href="/style/casual">
    <div style="position:absolute;left:428px;top:287px;">
      <img src="/assets/st2.png" id="">
    </div>
  </a>
  <a href="/style/wild">
    <div style="position:absolute;left:575px;top:437px;">
      <img src="/assets/st3.png" id="">                  
    </div>
  </a>
  <a href="/style/office">  
    <div style="position:absolute;left:724px;top:288px;">
      <img src="/assets/st4.png" id="">                  
    </div>
  </a>
  <a href="/style/suave" >
    <div style="position:absolute;left:308px;top:379px;">
      <div style="font-style:italic;font-size:28px;" id="">SUAVE</div>                  
    </div>
  </a>
  <a href="/style/casual">
    <div style="position:absolute;left:453px;top:458px;">
      <div style="font-style:italic;font-size:28px;" id="">CASUAL</div>                  
    </div>
  </a>
  <a href="/style/wild">
    <div style="position:absolute;left:618px;top:379px;">
      <div style="font-style:italic;font-size:28px;" id="">WILD</div>                  
    </div>
  </a>
  <a href="/style/office">  
    <div style="position:absolute;left:758px;top:454px;">
      <div style="font-style:italic;font-size:28px;" id="">OFFICE</div>                  
    </div>
  </a>

  <a href="/">
        <div class="open_popup" style='position:absolute;left:871px;top:286px;z-index:'>     <img id="" src="/assets/setwet_logo.png" onclick="" class="" title="Image title" style="" alt="Image Alt value"/>  
        </div>
      </a>
  <%= render "links" %>
  <%= render "layouts/footer.html.erb" %>
</div>
