<div style="width:1024px;height:780px;background:url(/assets/stdet_bg.jpg) no-repeat;">
  <div style="position:absolute;left:370px;top:315px;z-index:9">
    <img style="width:138px;height:80px;" src="http://img.youtube.com/vi/TRSJOV-mjw0/default.jpg" id="">                  
  </div>
  <div style="position:absolute;left:370px;top:397px;z-index:9">
    <img style="width:138px;height:80px;" src="http://img.youtube.com/vi/TRSJOV-mjw0/default.jpg" id="">                  
  </div>
  <div style="position:absolute;left:370px;top:480px;z-index:9">
    <img style="width:138px;height:80px;" src="http://img.youtube.com/vi/TRSJOV-mjw0/default.jpg" id="">                  
  </div>
  <div style="position:absolute;left:370px;top:234px;z-index:9">
    <img style="width:138px;height:80px;" src="http://img.youtube.com/vi/TRSJOV-mjw0/default.jpg" id="">                  
  </div>
  <div style="position:absolute;left:515px;top:473px;z-index:0">
    <img style="width:350px;height:160px;" src="/assets/std3.png" id="video_text_bg">                  
  </div>
  <div style="position:absolute;left:401px;top:191px;z-index:9">
    <div style="font-style:italic;font-size:20px;color:#FAFAFA;" id="">CASUAL</div>                  
  </div>
  <div style="position:absolute;left:671px;top:491px;z-index:auto">
    <p style="color:#FFFFFF;font-style:italic;width:190px;" id="">
      sample textsample textsample textsample  textsample textsample textsample textsample textsample text
    </p>      
  </div>
  <div style="position:absolute;left:370px;top:171px;z-index:0">
    <img src="/assets/std6.png" id="">                  
  </div>
  <div style="position:absolute;left:515px;top:236px;z-index:10" id="youtube_video">
    <iframe width="350" height="233" src="http://www.youtube.com/embed/j4WUvPhjwQ8" frameborder="0" allowfullscreen></iframe>
  </div>
  <div style="position:absolute;left:521px;top:181px;z-index:9">
    <div style="font-style:italic;font-size:30px;color:#000000;" id="">CASUAL</div>                  
  </div>
  <div style="position:absolute;left:524px;top:212px;z-index:10">
    <div style="font-style:italic;font-size:15px;color:#;height:20px;width:340px;" id="">CASUAL description will come here</div>                  
  </div>
  <div style="position:absolute;left:535px;top:511px;z-index:11">
    <img src="/assets/stdwax1.png" id="selected_wax_img">                  
  </div>
  <%= render "links" %>
</div>
