<html>
  <div class="back_ground_waxes">
    
    <div class
  	<div class="setwet_logo">
      <%= image_submit_tag("setwet_logo.png", :class => "setwet_logo_position") %>
  	</div>

  	<div class="link_in_waxes" >
  		<%= link_to "SO, GO ON,GET VERY VERY SEXY.", "#", html_options = {:class => "wax_link_styling"} %>
    </div>
  <div>	
<html>
