
      <div id="screen_5" style="width:1024px;height:780px;background:url(/assets/screen5_bg.jpg) no-repeat;">

        <div id="wax_options">
          <div id="red_box">
            <a href="javascript:void(0)">
              <div class="open_popup" id="red_wax_1" style='position:absolute;left:300px;top:441px;z-index:4'>           
              <img id="red_pop" src="/assets/screen5_red.png" onclick="" class="" title="Image title" style="" alt="Image Alt value"/>     
              </div>
            </a>
            <div id="red_popup" style='position:absolute;left:282px;top:434px;z-index:14'>     <img id="" src="/assets/screen6_red.png" onclick="" class="" title="Image title" style="" alt="Image Alt value"/>  
      
            </div>
            
          </div>
          
          <div id="green_box">
            <a href="javascript:void(0)">
            <div class="open_popup"  id="green_wax_3" style='position:absolute;left:599px;top:440px;z-index:'>     <img id="green_pop" src="/assets/screen5_green.png" onclick="" class="" title="Image title" style="" alt="Image Alt value"/>  
            </div>
            </a>
            
            <div id="green_popup" style='position:absolute;left:579px;top:434px;z-index:14'>     <img id="" src="/assets/screen6_green.png" onclick="" class="" title="Image title" style="" alt="Image Alt value"/>  
            </div>   
          </div>  
          
          <div id="yellow_box">
            
            <a href="javascript:void(0)">
              <div class="open_popup"  id="yellow_wax_2" style='position:absolute;left:459px;top:357px;z-index:13'>     <img id="yellow_pop" src="/assets/screen5_yellow.png" onclick="start_carousel(this.id)" class="" title="Image title" style="" alt="Image Alt value"/>  
              </div>
            </a>
            <div id="yellow_popup" style='position:absolute;left:432px;top:434px;z-index:14'>     <img id="" src="/assets/screen6_yellow.png" onclick="" class="" title="Image title" style="" alt="Image Alt value"/>  
            </div>  
          </div>
          
          <div id="blue_box">
            <a href="javascript:void(0)">
              <div class="open_popup" id="blue_wax_4" style='position:absolute;left:750px;top:357px;z-index:'>     <img id="blue_pop" src="/assets/screen5_blue.png" onclick="start_carousel(this.id)" class="" title="Image title" style="" alt="Image Alt value"/>
              </div>
            </a>
              <div id="blue_popup" style='position:absolute;left:727px;top:434px;z-index:14'>     <img id="" src="/assets/screen6_blue.png" onclick="" class="" title="Image title" style="" alt="Image Alt value"/>  
              </div>    

          </div>
      <a href="/">
        <div class="open_popup" style='position:absolute;left:871px;top:295px;z-index:'>     <img id="" src="/assets/setwet_logo.png" onclick="" class="" title="Image title" style="" alt="Image Alt value"/>  
        </div>
      </a>
     </div>

      
        <div id="wax_content" style='position:absolute;left:603.9999847412109px;top:344.5px;z-index:3'>     <div id="" class="" style="" onclick="">Gives you maximum shine with extreme pliability. Just what you need for a night out on the town.</div>  
          
        </div>
      


     <div id="wax_names">
      
      <a href="javascript:void(0)">
              <div class="open_popup"  style='position:absolute;left:318px;top:396px;z-index:10'>     <div id="glaxe_wax" class="" style="font-style:italic;" onclick="start_carousel(this.id)">AFTER HOURS</br> GLAXE WAX</div>  
              </div>
            </a>
      <a href="javascript:void(0)">
      <div class="open_popup"  style='position:absolute;left:465.99998474121094px;top:452px;z-index:auto'>      <div id="shock_wax" class="" style="" onclick="start_carousel(this.id)">SHOCK WAVE<br/>STYLING CLAY</div>  
      
      
      
      </div>
      </a>
    
      <a href="javascript:void(0)">
      <div class="open_popup"  style='position:absolute;left:612.9999847412109px;top:393px;z-index:12'>     <div id="matt_wax" class="" style="" onclick="start_carousel(this.id)">FREESTYLER<br/>MATT WAX</div>  
      
      
      
      </div>
      </a>
      <a href="javascript:void(0)">
      <div class="open_popup"  style='position:absolute;left:748px;top:450px;z-index:13'>     <div id="amoeba_wax" class="" style="" onclick="start_carousel(this.id)">AMOEBA FIBRE<br/> GUM</div>  
      
      
      
      </div>
      </a>
    </div>  
      <a href="/styles">
        <div style='position:absolute;left:395px;top:685px;z-index:'>     <div id="" class="" style="" onclick="">GET THE PERFECT HAIRSTYLE WITH OUR STYLING VIDEOS
        </div>  
        </div>
      </a>


      <a href="/styles">
        <div style='position:absolute;left:833.9999847412109px;top:675px;z-index:11'>     <img id="" src="/assets/watch_video.png" onclick="" class="" title="Image title" style="" alt="Image Alt value"/> 
      </div>
    </a>

      <%= render "links" %>
      <%= render "layouts/footer.html.erb" %>
      
      <script>
       $(document).ready(function () {
          $('#red_popup').hide();
          $('#green_popup').hide();
          $('#yellow_popup').hide();
          $('#blue_popup').hide();
       });
       var hovered = false;

       $('#red_box').hover( function() { $('#red_popup').stop(true, true).fadeIn(); },
         function() { $('#red_popup').stop(true, true).fadeOut(); }
       );        
       
       $('#green_box').hover( function() { $('#green_popup').stop(true, true).fadeIn(); },
         function() { $('#green_popup').stop(true, true).fadeOut(); }
       );  
        
       $('#yellow_box').hover( function() { $('#yellow_popup').stop(true, true).fadeIn(); },
         function() { $('#yellow_popup').stop(true, true).fadeOut(); }
       );   
       
       $('#blue_box').hover( function() { $('#blue_popup').stop(true, true).fadeIn(); },
         function() { $('#blue_popup').stop(true, true).fadeOut(); }
       );
       

      </script>
<!-- implement slider -->
<html>
<head>

<style type='text/css'>
#thevideo { 
  position: absolute; 
  left: 75px;
  top: 105px;
}


#myCarousel {
  /*margin-top: 40px;*/
  position: absolute;
  width: 535px;
  height: 257px;
  left: 335px;
  top: 212px;
}

.carousel-linked-nav,
.item img {
  display: block; 
  margin: 0 auto;
}

.carousel-linked-nav {
  width: 80px;
  margin-bottom: 20px;   
}
</style>
</head>
</html>

<body>
  <div id="myCarousel" class="carousel slide" style="display: none">
    <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <img id="1" src="/assets/screen7_red.png" />
        </div>
        <div class="item">
          <img id="2" src="/assets/screen7_yellow.png" />
        </div>
        <div class="item">
          <img id="3" src="/assets/screen7_green.png" />
        </div>  
        <div class="item">
          <img id="4" src="/assets/screen7_blue.png" />
        </div>        
      </div>

    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</body>

<script type="text/javascript">
 function start_carousel(id){
if(/glaxe_wax/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 1 + ')').addClass('active');
  console.log("ssss");
}
if(/shock_wax/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 2 + ')').addClass('active');}
if(/matt_wax/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 3 + ')').addClass('active');}
if(/amoeba_wax/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 4 + ')').addClass('active');}
if(/yellow_pop/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 2 + ')').addClass('active');}
if(/blue_pop/.test(id)){ $('#myCarousel .carousel-inner .item.active').removeClass('active'); $('#myCarousel .carousel-inner div:nth-child(' + 4 + ')').addClass('active');}
document.getElementById("myCarousel").style.display = "block";
/*document.getElementById("deo_bg").style.display = "none";
+document.getElementById("deo_bg2").style.display = "block";
+document.getElementById("myCarousel").style.display = "block";
+document.getElementById("deo_text").style.display = "none";
+document.getElementById("deo_main_div").style.display = "none";
+document.getElementById("youtube_video").style.display = "none";*/
$('#myCarousel').carousel({
  interval: 10000
});
$('#myCarousel').carousel('cycle');
};

$(".open_popup").click(function(){
 
  $("#wax_options").hide();
  $("#wax_names").hide();
  $("#screen_5").attr('class', 'wax_type_display');
});

</script>