/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 
 
 
 */

#main {
    position: relative;
    width: 1024px;
    height: auto;
    margin: 0px auto;
}

#page_1_slide_1 {
    position: relative;
    width:100%;
    background:url(/assets/bg_1.jpg) no-repeat;
    min-height:780px;
}

#page_1_img_1 {
    position:absolute;
    top:431px;
    left:85px;
    width:544px;
    height:169px;
}

#page_1_img_2 {
    position:absolute;
    top:292px;
    right:1px;
    width:153px;
    height:150px;
}

#page_1_slide_2 {
    position: relative;
    width:100%;
    background:url(/assets/1_2.jpg) no-repeat;
    min-height:780px;    
}

#page_1_img_3 {
    position:absolute;
    top:426px;
    left:94px;
}

#page_1_img_4 {
    position:absolute;
    top:287px;
    right:1px;
    width:153px;
    height:150px;
}

#page_1_img_4_gel {
    position:absolute;
    top:300px;
    right:1px;
    width:153px;
    height:150px;
}

#page_1_link {
    position:absolute;
    top:100px;
    right:1px;
    width: 135px;
    height: 188px;
    padding-left: 20px;
}

#page_1_link a {
    font-style: italic;
    font-size: 18px;
    font-family: Arial,Arial,Helvetica,sans-serif;
    line-height: 30px;
    text-decoration: none;
}

#sitemap {
    position:absolute;
    bottom:20px;
    right:1px;
    width: 500px;
    height: 30px;
}

#sitemap a {
    font-style: italic;
    font-size: 15px;
    font-family: Arial,Arial,Helvetica,sans-serif;
    line-height: 30px;
    text-decoration: none;
    margin: 0px 10px;
}

#sitemap img {
    width: 25px;
    height: 25px;
}

.back_ground_deos {
    background-image:url('paper.gif');
    background-color:#cccccc;
}

.back_ground_faqs {
	background-image:url('paper.gif');
    background-color:#cccccc;
}

.back_ground_shop {
	background-image:url('paper.gif');
    background-color:#cccccc;
}

.back_ground_waxes {
	background-image:url('wax_home_bg.jpg');
    background-color:#cccccc;
    width: 1024px;
    height: 768px;
}

.back_ground_waxes_range {
	background-image:url('setwet_wax_range.jpg');
    background-color:#cccccc;
    width: 1024px;
    height: 768px;
}


.back_ground_gels {
	background-image:url('paper.gif');
    background-color:#cccccc;
}

.back_ground_style_meter {
	background-image:url('paper.gif');
    background-color:#cccccc;
}

.setwet_logo_position {
    float: right;
    padding-top: 291px;
}

.setwet_range_position {
    float: right;
    padding-top: 295px;
}

.link_in_waxes {
	text-decoration: none !important;
}

a, u {
    text-decoration: none;
}

.wax_link_styling {
<<<<<<< HEAD

}
=======
	
}
>>>>>>> a57d84408a0c01ebf1b905ebb88ac2427a8160fb
