/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 
 
 
 */
body {
    background: #000000;
}

#main {
    position: relative;
    width: 1024px;
    height: auto;
    margin: 0px auto;
}

#page_1_slide_1 {
    position: relative;
    width:100%;
    background:url(/assets/bg_1.jpg) no-repeat;
    min-height:780px;
}

.bg_contact_us {
    position: relative;
    width: 100%;
    min-height: auto;
    background:url(/assets/refrence_contact.jpg) no-repeat;
}

#page_1_img_1 {
    position:absolute;
    top:431px;
    left:85px;
    width:544px;
    height:169px;
}

#page_1_img_2 {
    position:absolute;
    top:292px;
    right:1px;
    width:153px;
    height:150px;
}

#page_1_slide_2 {
    position: relative;
    width:100%;
    background:url(/assets/1_2.jpg) no-repeat;
    min-height:780px;    
}

#page_1_img_3 {
    position:absolute;
    top:426px;
    left:94px;
}

#page_1_img_4 {
    position:absolute;
    top:287px;
    right:1px;
    width:153px;
    height:150px;
}

#page_1_img_4_gel {
    position:absolute;
    top:300px;
    right:1px;
    width:153px;
    height:150px;
}

#page_1_link {
    position:absolute;
    top:100px;
    right:1px;
    width: 135px;
    height: 188px;
    padding-left: 20px;

}

#page_1_link a {
    font-style: italic;
    font-size: 18px;
    font-family: Arial,Arial,Helvetica,sans-serif;
    line-height: 30px;
    text-decoration: none;
    color: #1F1F1F;
}

#link_selected {
    
    color: #74D1ED !important;
}

#sitemap {
    position:absolute;
    top: 725px;
    right:1px;
    width: 430px;
    height: 30px;
}

#sitemap a {
    font-style: italic;
    font-size: 15px;
    font-family: Arial,Arial,Helvetica,sans-serif;
    line-height: 30px;
    text-decoration: none;
    margin: 0px 10px;
}

#sitemap img {
    width: 25px;
    height: 25px;
}

.back_ground_deos {
    background-image:url('paper.gif');
    background-color:#cccccc;
}

.back_ground_faqs {
	background-image:url('paper.gif');
    background-color:#cccccc;
}

.back_ground_shop {
	background-image:url('paper.gif');
    background-color:#cccccc;
}

.back_ground_waxes {
	background-image:url('wax_home_bg.jpg');
    background-color:#cccccc;
    width: 1024px;
    height: 768px;
}

.back_ground_waxes_range {
	background-image:url('setwet_wax_range.jpg');
    background-color:#cccccc;
    width: 1024px;
    height: 768px;
}


.back_ground_gels {
	background-image:url('paper.gif');
    background-color:#cccccc;
}

.back_ground_style_meter {
	background-image:url('paper.gif');
    background-color:#cccccc;
}

.setwet_logo_position {
    float: right;
    padding-top: 291px;
}

.setwet_range_position {
    float: right;
    padding-top: 295px;
}

.link_in_waxes {
	text-decoration: none !important;
}

a, u {
    text-decoration: none;
}

.wax_link_styling {
  font-style: italic;
}

.wax_type_display {
    background-image:url('screen7_bg.jpg') !important;
}

#sitemap a {
    

    color: #1F1F1F;
}

#move_down {
    left: 1px;
    position: absolute;
    top: 20px;
}

.question {
    
    font-size: 19px;
    left: 361px;
    top: 319.5px;
    color: #1F1F1F;
}

.answer {
    
    font-size: 19px;
    left: 361px;
    top: 388px;
    

    color: #1F1F1F;

}

.question1 { 
    font-size: 17px;
    color: #5291FF;
    font-style: italic;
    font-weight: bold;
}

.answer1 {
    
    font-size: 15px;
    color: #1F1F1F;
    margin-bottom: 44px;
    margin-top: -25px;
    font-style: italic;

}