/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.back_ground_deos {
	background-image:url('paper.gif');
    background-color:#cccccc;
}

.back_ground_faqs {
	background-image:url('paper.gif');
    background-color:#cccccc;
}

.back_ground_shop {
	background-image:url('paper.gif');
    background-color:#cccccc;
}

.back_ground_waxes {
	background-image:url('bg.jpg');
    background-color:#cccccc;
    width: 1024px;
    height: 768px;
}

.back_ground_gels {
	background-image:url('paper.gif');
    background-color:#cccccc;
}

.back_ground_style_meter {
	background-image:url('paper.gif');
    background-color:#cccccc;
}

.setwet_logo_position {
    float: right;
    padding-top: 291px;
}

.link_in_waxes {
	text-decoration: none !important;
}

a, u {
    text-decoration: none;
}

.wax_link_styling {
	
}