  <div id="sitemap">
    <a href="">SITEMAP</a> | 
    <a href="">CONTACT US</a> |
    <a href="">DISCLAIMER</a>	
    <a href="https://www.facebook.com/SetWetStyling"><img src="https://s3.amazonaws.com/lmw-setwetstyling/images/fb.png"/></a>	
    <a href="http://www.youtube.com/setwetstyling"><img src="https://s3.amazonaws.com/lmw-setwetstyling/images/youtube.png" /></a>	
  </div>
