  <div id="sitemap">
    <a href="/sitemap" <%  if(controller.action_name == "sitemap") %>style="color:#0088CC;"<% end %>>SITEMAP</a> 
    <a href="/contact_us" <%  if(controller.action_name == "contact_us") %>style="color:#0088CC;"<% end %>>CONTACT US</a>
    <a href="/disclaimer" <%  if(controller.action_name == "disclaimer") %>style="color:#0088CC;"<% end %>>DISCLAIMER</a>	
    <span class="wax_link_styling" style="font-size:10px">&copy; 2013 Copyright Marico All Rights Reserved</span>      
  </div>
  <%
     style_str = ""
     style_str = style if(defined? style)
     %>
  <div id="social" style="<%= style_str %>">
    <a href="https://www.facebook.com/SetWetStyling"><img src="https://s3.amazonaws.com/lmw-setwetstyling/images/fb.png"/></a>	
    <a href="http://www.youtube.com/setwetstyling"><img src="https://s3.amazonaws.com/lmw-setwetstyling/images/youtube.png" /></a>	
  </div>

  <%= render(:partial => "sound") %>
