  <div id="sitemap">
    <a href="">SITEMAP</a>
    <a href="">CONTACT US</a>
    <a href="">DISCLAIMER</a>	
    <a href=""><img src="/assets/rails.png" /></a>	
    <a href=""><img src="/assets/rails.png" /></a>	
  </div>
